
<!DOCTYPE html>
<title> Smart Policing system </title>
<link rel = "icon" href = '../public/img/logo1.png' 
        type = "image/x-icon">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="font-pop ">
    <div class="sidebar close bg-blue-900">
        <div class="logo-details">
            <a href="/citizen/citizen_dashboard">
                <img src="../public/img/logo1.png" alt="Logo" class="w-14  my-6">
            </a>
            <span class="logo_name">Smart Policing</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/citizen/citizen_complaint">
                    <i class='bx bx-comment-detail'></i>
                    <span class="link_name">File Complaint</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="/citizen/citizen_complaint">File Complaint</a></li>
                </ul>
            </li>
            <li>
                <a href="/citizen">
                    <i class='fa fa-eye'></i>
                    <span class="link_name">View Complaint</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="/citizen">View Complaint</a></li>
                    
                </ul>
            </li>
            <li>
                <li>
                    <a href="/citizen/Citizen_Upload">
                        <i class='fa fa-upload'></i>
                        <span class="link_name">Upload Evidence</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="/citizen/Citizen_Upload">Upload Evidence</a></li>
                    </ul>
                </li>
                <li>
                    <li>
                        <a href="/citizen/citizen_viewcourt">
                            <i class='fa fa-eye'></i>
                            <span class="link_name">View Report</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" href="/citizen/citizen_viewcourt">View Report</a></li>
                        </ul>
                    </li>
                    <li>
                <div class="profile-details">
                    <div class="profile-content">
                    </div>

                    <div class="profile_name "><%=USERNAME%></div>
                    <a href="/citizen/logout"> . <i class='bx bx-log-out' ></i></a>

                </div>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'></i>
            <span class="text text-white">Upload Evidence</span>
        </div>
        <center>

            <div class="max-w-2xl max-h-fit border-2 border-black rounded-2xl mt-10 mb-6 bg-white ">
                <form action="#" method="post" enctype="multipart/form-data">


                    <h1 class="font-extrabold text-xl text-center mx-2 my-2 text-black-1">Evidence</h1>
                  <h2 class="font-semibold text-center mb-2  text-black-1">  To upload your evidence, click "Choose File" below.</h2>
                    </div><br>
                    <div class="flex justify-center">
                        <div class="mb-3 w-96"> 
                          <label for="formFileLg" class="form-label inline-block mb-2 text-gray-700"></label>
                              <input class=" rounded-xl form-control bl w-full px-2 py-1.5 text-xl font-normal text-gray-700
                               bg-white bg-clip-padding border-solid border-black border-2
                               transition ease-in-out m-0
                             focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="formFileLg" type="file" placeholder="Choose File" name="file">
                         
                          
                        </div>
                      </div><br><br>
                
                    <div>
                        <textarea class="rounded-xl text-black font-medium indent-px outline outline-offset-2 outline-0
                             border-2 border-black normal-case " id="About" name="fileName"
                            rows="4" cols="45" placeholder=" Description"></textarea>

                    </div>

                    
                    <br><br>
                    <button class="text mb-4 border-2 border-transparent rounded-2xl px-2 py-2 
        bg-blue-400 text-black-1 hover:bg-blue-500 font-extrabold mt-6 " id="complaint">Submit</button><br><br>

                </form>



            </div>

        </center>

    </section>

    <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e) => {
                let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
                arrowParent.classList.toggle("showMenu");
            });
        }
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });

    </script>

</body>

</html>