

<!DOCTYPE html>
<title> Smart Policing system </title>
<link rel="icon" href='../public/img/logo1.png' type="image/x-icon">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="font-pop ">
    <div class="sidebar close bg-blue-900">
        <div class="logo-details">
            <a href="/forensic">
                <img src='../public/img/logo1.png' alt="Logo" class="w-14  my-6">
            </a>
            <span class="logo_name">Smart Policing</span>
        </div>
        <ul class="nav-links">
           
           
                <li>
                    <li>
                        <a href="/forensic/forensic_dashboard">
                            <i class='fa fa-eye'></i>
                            <span class="link_name">View Evidence</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" href="/forensic/forensic_dashboard">View Evidence</a></li>
                        </ul>
                    </li>
                    <li>
                        <li>
                            <a href="/forensic/report">
                                <i class='bx bx-search-alt-2'></i>
                                <span class="link_name">Analysis Report</span>
                            </a>
                            <ul class="sub-menu blank">
                                <li><a class="link_name" href="/forensic/report">Analysis Report</a></li>
                            </ul>
                        </li>
                    <li>
                <div class="profile-details">
                    <div class="profile-content">
                    </div>

                    <div class="profile_name ">Forensics</div>
                    <a href="/forensic/logout"> . <i class='bx bx-log-out'></i></a>

                </div>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'></i>
            <span class="text text-white">Forensic Analysis</span>
        </div>
        <center>

            <div class="max-w-2xl max-h-fit border-2 border-black rounded-2xl mt-10 mb-6 bg-white ">
                <form action="report_c" method="post" enctype="multipart/form-data">


                    <h1 class="font-extrabold text-xl text-center mx-2 my-2 text-black-1">Report</h1>
                  <h2 class="font-semibold text-center mb-2  text-black-1">Please Enter Evidence Analysis Report.</h2>
                    </div><br>

                      </div>
                      <i style="font-size:24px" class="far fa-address-card"></i>
                      <input
                          class=" text-black-1 border-black capitalize outline outline-offset-2 outline-0 border-b-2 bg-transparent"
                          type="text" id="evidenceid" required name="evidenceid" placeholder="Evidence ID">
                          <br><br>
                          <div>
                            <textarea class="rounded-xl text-black font-medium indent-px outline outline-offset-2 outline-0
                                 border-2 border-black normal-case " id="Report" name="report"
                                rows="4" cols="45" placeholder=" Report"></textarea>
    
                        </div>
                        <br><br>
                
                    <div>
                        <textarea class="rounded-xl text-black font-medium indent-px outline outline-offset-2 outline-0
                             border-2 border-black normal-case " id="brief" name="brief"
                            rows="4" cols="45" placeholder=" Brief Analysis"></textarea>

                    </div>

                    
                    <br><br>
                    <button class="text mb-4 border-2 border-transparent rounded-2xl px-2 py-2 
        bg-blue-400 text-black-1 hover:bg-blue-500 font-extrabold mt-6 " id="complaint">Submit</button><br><br>

                </form>



            </div>

        </center>

    </section>

    <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e) => {
                let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
                arrowParent.classList.toggle("showMenu");
            });
        }
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });

    </script>

</body>

</html>