<!DOCTYPE html>
<title> Smart Policing system </title>
<link rel = "icon" href = './public/img/logo1.png' 
        type = "image/x-icon">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
   
</head>

<body class="bg-black-1 font-pop">
   
    <center>
        <h1 class="text-dark-1 mt-32 mb-8 text-2xl font-extrabold "> Smart Policing System</h1>
        <img src="./public/img/logo1.png" alt="Logo" class="w-52 flex content-center my-6">
        <div>
            <a href="/citizen/citizen_signup"
                class="text-blue-900 text-4xl font-extrabold mx-8 border-2 border-ligtext-light-1 rounded-2xl px-1 py-1 hover:text-blue-400 hover:border-blue-400 ">Citizen</a>

            <a href="/police/police_login"
                class="text-blue-900  text-4xl font-extrabold mx-8 border-2 border-ligtext-light-1 rounded-2xl px-1 py-1 hover:text-blue-400 hover:border-blue-400">Police</a>

                <a href="/forensic/forensic_login"
                class="text-blue-900 text-4xl font-extrabold mx-8 border-2 border-ligtext-light-1 rounded-2xl px-1 py-1 hover:text-blue-400 hover:border-blue-400 ">Forensic</a>

            <a href="/court/court_login"
                class="text-blue-900 text-4xl font-extrabold mx-8 border-2 border-ligtext-light-1 rounded-2xl px-1 py-1 hover:text-blue-400 hover:border-blue-400">Court</a>

        </div>

    </center>


</body>

</html>
